body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: rgb(100, 100, 100);
    cursor: default;
    zoom: 99%;
}

canvas {
    display: flex;
    border: 5px solid #000;
    border-radius: 10px;
    background: rgb(255, 255, 255);
}

.tiny {
    font-size: 1px;
    color: rgb(100, 100, 100);
    display: block;
}

button {
    background: rgb(181, 181, 181);
    font-size: 18px;
    border-radius: 10px;
    transition: 0.2s;
    font-family: 'Lucida Sans';
}

    button:hover {
        transform: scale(0.95);
        font-family: 'Lucida Sans';
    }

p {
    font-size: 15px;
    color: black;
    font-family: 'Lucida Sans';
}

h1 {
    padding: 5px 5px;
    font-size: 25px;
    margin: 0px;
    font-family: 'Lucida Sans';
}

.small-text {
    font-size: 14px;
}

.medium-text {
    font-size: 16px;
}

.no-margin {
    margin: 2px;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.no-margin-far-right{
    margin-left: auto;
    margin-right: 5px;
    font-size: 12px;
    flex: 0 0 auto; 
}

input {
    background-color: rgb(181, 181, 181);
    border-radius: 6px;
}

    input:checked {
        background-color: green;
    }

.main {
    margin: 9px;
    display: flex;
    width: 100vw;
    height: 100vh;
}

.object {
    background: rgb(80, 80, 80);
    padding-bottom: 5px;
    padding-top: 5px;
    border: solid;
    border-radius: 15px;
    margin: 5px;
    transition: 0.2s;
    display: flex;
}

    .object:hover {
        transform: scale(1.05);
    }

.object-text {
    margin: 0px;
    padding-bottom: 2px;
    padding-top: 2px;
    padding-left: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.center-area {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 0px 15px;
}

.game-controls {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 0px 5px;
    border: solid;
    border-radius: 25px;
    border-width: 5px;
}

.gameview {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 5px 0px;
}

.asset-area {
    height: 200px;
    flex-shrink: 0;
    padding: 10px 20px;
    border-radius: 25px;
    border: solid;
    border-width: 5px;
    margin-bottom: 5px;
}

.inspector, .hierarchy {
    width: 250px;
    padding: 10px 20px;
    flex-shrink: 0;
    border-radius: 25px;
    border: solid;
    border-width: 5px;
    flex-direction: row;
    overflow-y: auto;
}

    .inspector::-webkit-scrollbar,
    .hierarchy::-webkit-scrollbar {
        width: 16px;
    }

    .inspector::-webkit-scrollbar-track,
    .hierarchy::-webkit-scrollbar-track {
        background-clip: padding-box;
    }

    .inspector::-webkit-scrollbar-thumb,
    .hierarchy::-webkit-scrollbar-thumb {
        background: rgb(40, 40, 40);
        background-clip: padding-box;
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
        border-right: 5px solid transparent;
        border-radius: 16px;
    }

        .inspector::-webkit-scrollbar-thumb:hover,
        .hierarchy::-webkit-scrollbar-thumb:hover {
            background: rgb(60, 60, 60);
            background-clip: padding-box;
            border-top: 9px solid transparent;
            border-bottom: 9px solid transparent;
            border-right: 5px solid transparent;
            border-radius: 8px;
        }


.inspector-component {
    background-color: rgb(160, 160, 160);
    border-radius: 15px;
    border: solid black 2px;
    box-sizing: border-box;
    overflow: hidden;
    margin: 5px;
    transition: 0.2s;
}
    .inspector-component:hover{
        transform: scale(1.05);
    }



.inspector-component2 {
    padding: 10px;
}

.inspector-field {
    margin: 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0px;
    width: 100%;
    box-sizing: border-box;
}

.inspector-input {
    height: 1.2rem;
    width: 60%;
    padding: 2px 6px;
    box-sizing: border-box;
    border: 1px solid #333;
    border-radius: 4px;
}
.inspector-title{
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 16px;
    font-weight: bold;
}

.inspector-label {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 12px;
}

.component-header {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 5px 10px;
}

.mini-icon {
    width: 20px;
    height: 20px;
    border-radius: 3px;
    object-fit: contain;
}
